.home-container {
  text-align: center;
  padding: 50px;
}

.home-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.home-description {
  font-size: 18px;
  margin-bottom: 40px;
}

.exercise-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.exercise {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.exercise:hover {
  transform: scale(1.05);
}

.exercise h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.exercise p {
  font-size: 16px;
  color: #666666;
}

.exercise button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ff5f5f;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.exercise button:hover {
  background-color: #e63c3c;
}
.exercise-image {
  cursor: pointer;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}
