/* SearchAboutMe.css */

.search-about-me-container {
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.wrapper h1 {
  margin: 10px;
}

.search-form {
  width: 500px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.search-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #0056b3;
}

.wrapper .card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.wrapper .card {
  min-width: 450px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  gap: 20px;
}

.wrapper h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.wrapper p {
  font-size: 16px;
  margin-bottom: 10px;
}

.wrapper img {
  max-width: 100%;
  height: auto;
  border: 1px solid black;
  margin-bottom: 10px;
}

.highest {
  text-align: center;
}

@media (max-width: 1024px) {
  .wrapper {
    padding: 0 40px;
  }
  .search-form {
    width: 100%;
  }

  .card-container {
    gap: 10px;
    padding: 0 10px;
  }

  .card {
    min-width: auto;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .search-form {
    flex-direction: column;
  }

  .search-input {
    width: 100%;
    margin-bottom: 10px;
  }

  .card-container {
    gap: 10px;
    padding: 0 10px;
  }

  .wrapper .card {
    min-width: 300px;
  }
}

@media (max-width: 430px) {
  .search-form {
    width: 80%;
  }
  .wrapper h1 {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .search-form {
    width: 80%;
  }
  .wrapper h1 {
    width: 300px;
  }
}
